<h1>Counting#two</h1>
<p>Find me in app/views/counting/two.html.erb</p>
<ul>
	<li><a href="/say/hello">Hello</a></li>
	<li><a href="/say/goodbye">Goodbye</a></li>
	<li><a href="/counting/one">One</a></li>
	<li><a href="/counting/two">Two</a></li>
	<li><a href="/counting/three">Three</a></li>
	<li><a href="/counting/four">Four</a></li>
</ul>
<ul>
	<li><%= link_to "One", counting_one_path %></li>
	<li><%= link_to "Two", counting_two_path %></li>
	<li><%= link_to "Three", counting_three_path %></li>
	<li><%= link_to "Four", counting_four_path %></li>
	<li><%= link_to "Hello", say_hello_path %></li>
	<li><%= link_to "Goodbye", say_goodbye_path %></li>
</ul>